html, body {
	color: white;
	font-family: 'Assistant', sans-serif;
	font-size: 12pt;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.non-interactive, .non-interactive * {
	pointer-events: none;
	user-select: none;
}
